# Ignore Python bytecode
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE specific files
.idea/

# Ignore log files
*.log

# Ignore analysis results
analysis_results.json

# Ignore virtual environment
venv/

# Ignore other temporary files
*.tmp
*.temp
*.bak
*.swp
